/* Base Styles */

/* Left Theme */
.story-type-text.left {
  background: url('https://femmebot.github.io/google-type/images/indigo-sea.jpg') no-repeat center;
  background-size: cover;
  padding: 40px 20px 80px 20px;

  .inner {
    min-height: 400px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: white;
    h1 {
      font: 32px/42px 'Open Sans', sans-serif;
      font-weight: 800;
      text-transform: uppercase;
      text-align: left;
      letter-spacing: 1px;
      padding: 20px 20px 0 20px;
    }

    p, ul, ol {
      font: 18px/27px 'Gentium Basic', serif;
      text-align: left;
      max-width: 500px;
    }

    p {
      padding: 20px 20px 0 20px;
    }

    blockquote {
      font: 18px/27px 'Gentium Basic', serif;
      margin-top: 1em;
      margin-left: 20px;
    }

    .editing-container {
      max-width: 500px;
      display: inline-block;
      .ql-editor {
        padding: 0;
      }
      p {
        margin-bottom: 1em;
      }
    }
  }
}
