/* Base Theme */
.story-type-text {
  background: url('https://femmebot.github.io/google-type/images/indigo-sea.jpg') no-repeat center;
  background-size: cover !important;
  padding: 40px 20px 80px 20px;

  .inner {
    min-height: 400px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: white;
    h1 {
      font: 32px/42px 'Open Sans', sans-serif;
      font-weight: 800;
      text-transform: uppercase;
      letter-spacing: 1px;
      padding: 20px 20px 0 20px;
    }

    p, ul, ol {
      font: 18px/27px 'Gentium Basic', serif;
      max-width: 500px;
    }

    p {
      padding: 20px 20px 0 20px;
    }

    blockquote {
      font: 18px/27px 'Gentium Basic', serif;
      margin-top: 1em;
      margin-left: 20px;
    }

    .editing-container {
      max-width: 500px;
      display: inline-block;
      .ql-editor {
        padding: 0;
        text-align: unset;
      }
      p {
        margin-bottom: 1em;
      }
    }
  }
}

/* Partition */
.story-type-text.partition {
  h1, p, ul, ol, blockquote {
    font-family: 'Roboto', sans-serif;
    text-transform: unset;
  }
  h1 {
    font-size: 40px;

  }
}
