.story-a {
  background: url('https://femmebot.github.io/google-type/images/indigo-sea.jpg') no-repeat center;
  background-size: cover;
  padding: 40px 20px 80px 20px;

  .inner {
  min-height: 400px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.inner h2 {
  font: 32px/42px 'Open Sans', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  color: #29232D;
  text-align: left;
  letter-spacing: 1px;
  padding: 20px 20px 0 20px;
}

.inner p {
  font: 18px/27px 'Gentium Basic', serif;
  color: #fff;
  text-align: left;
  padding: 20px 20px 0 20px;
  max-width: 500px;
}
}
